button {
    background-color: #ead78a;
    border: 1px solid #eecf52;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    margin: 20px;

    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #eb8552;
    }
    
}